.vscode/
.idea/
.DS_Store
Thumbs.db
venv/
.venv/
env/
initial_pipeline.png
Project Documents/

.env
sample.ipynb
chromadb_storage/
temp_*
old_pages/
old_app.py

__pycache__/
*.py[cod]
*$py.class
*.so

# .github/
# .specify/
# .gemini/

venv/
env/
ENV/