.vscode/
.idea/
.DS_Store
Thumbs.db
venv/
.venv/
env/
initial_pipeline.png
project_checklist.docx
Saira-Rac.txt
.env
sample.ipynb
chromadb_storage/
temp_*

__pycache__/
*.py[cod]
*$py.class
*.so

venv/
env/
ENV/